/* @import url('https://fonts.googleapis.com/css2? family=Bungee+Outline&display=swap'); */

:root {
    --corTexto: #fec16a;
    --font: 'Bungee Outline', cursive;
    font-size: 62.5%;
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background: lightslategray;
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 0.8rem;
}

::-webkit-scrollbar-track {
    background: black;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* box-sizing: border-box; */
}

html,
body {
    width: 100vw;
    height: 100vw;
    color: white;
    font-size: 1.4rem;
    overflow-x: hidden;
}

body {
    background-color: rgb(0, 0, 0);
}

body header.cabecalho {
    background-color: black;
    height: 10rem;
    margin-bottom: 2rem;
}

body header.cabecalho ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: black;
    border-bottom: 1px solid #77889957;
    position: fixed;
    width: 100%;
    height: 10rem;
    list-style: none;
    z-index: 2;
}

body header.cabecalho ul li {
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    background-color: rgb(97, 97, 97);
}

body header.cabecalho ul li:nth-child(3) {
    background-color: #61616100;

}

body header.cabecalho ul li a {
    color: white;
}

body header.cabecalho ul li img {
    width: 10rem;
}

body main {
    z-index: 1;
}

body main div.home {
    display: flex;
    justify-content: center;
    width: 100%;

    position: relative;
}

body main div.home img {
    border-radius: 1.5rem;
    border: 2px solid #4a0b43;
    background-color: #4a0b43;
    width: 50rem;
    text-align: center;
    z-index: -1;
}

body main div.home img:nth-child(2){
    animation: luzPiscando 2s infinite;
}

@keyframes luzPiscando {
    0% {
        box-shadow: 0px 0px 0px 0px #4a0b4300;
    }
    
    50% {
        box-shadow: 0px 0px 15px 15px #4a0b43;
    }

    100% {
        box-shadow: 0px 0px 0px 0px #4a0b4300;
    }
}

body main div.home img:nth-child(1) {
    width: 30rem;
    height: 20rem;
    background-color: #4a0b4300;
    border: none;
    position: absolute;
    left: 26rem;
    top: 30px;
    z-index: 1;
    /* animation: luzPiscando2 2s infinite; */
}

body main div.home img:nth-child(3) {
    width: 30rem;
    height: 20rem;
    background-color: #4a0b4300;
    border: none;
    position: absolute;
    right: 25rem;
    top: 30px;
    z-index: 1;
    /* animation: luzPiscando2 2s infinite; */
}

/* @keyframes luzPiscando2 {
    0% {
        filter: drop-shadow(0px 0px 0px black);
    }
    
    50% {
        filter: drop-shadow(8px 8px 4px white);
    }

    100% {
        filter: drop-shadow(0px 0px 0px black);
    }
} */


body main div.eventos,
div.orcamento,
div.contato {
    width: 20rem
}

body main div.eventos,
div.orcamento,
div.contato p {
    color: var(--corTexto);
    font-family: var(--font);
    font-size: 30px;
}


a {
    /* padding: 50px; */
    text-decoration: none;
}

/* a:link {
    color: white;
    background-color: rgb(97, 97, 97);
    border-radius: 50px;
} */

a:active {
    color: none;
}

a:visited {
    color: none;
}

a:hover {
    color: blueviolet;
}

/*a{
    padding: 10px;
    text-decoration: none;
}

//links não visitados
a:link{
    color: blue;
}

//Links visitados
a:visited{
    color: black;
}

//passa o mouse sobre o link
a:hover{
    color: brown;
    background-color: burlywood;
    font-size: 20px;
}

//links ativos
a:active{
    color: yellowgreen;
    background-color: black;
}
*/